@page "/C_Ocupaciones"

<h3>Consulta Ocupaciones</h3>
@inject OcupacionesBLL Ocupations

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>Sueldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Ocupations.GetList())
        {
            <tr>
                <td>@item.OcupacionId</td>
                <td>@item.Descripcion</td>
                <td>@item.Salario</td>
            </tr>
        }
    </tbody>
</table>
@code {

}
