@page "/Ocupaciones"


@inject OcupacionesBLL Ocupations
<head>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <style>
        .Agregar :hover{
            color: #0077B6;
        }
        .Agregar{
            text-decoration: none;
            color: black;
            padding: 5px;
            border: 5px;
            border-color:  #0077B6;
        }
        .Editar{
            padding: 5px;
            background-color: #00b4d8;
            color: black;
            text-decoration: none;
            font-weight: bold;
            border-radius: 25px;
        }
    </style>
    <style>
    </style>
</head>

<div style="display:flex; justify-content: space-between;">
<h3>Listado de  Ocupaciones</h3>
<RadzenLink class="Agregar" href="R_Ocupacion" style="border: 0px; "><i class="fi fi-sr-add"> Agregar</i> </RadzenLink>
</div>

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false"
        FilterMode="FilterMode.Advanced" AllowGrouping="true" AllowSorting="true" AllowPaging="true"
        PagerHorizontalAlign="HorizontalAlign.Left" Data="Ocupations.GetList()" TItem="Ocupacion" ColumnWidth="200px"
        LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true">
        <Columns>
            <RadzenDataGridColumn Width="50px" TItem="Ocupacion" Filterable="false" Sortable="false"  Frozen="true" Title="Acciones">
                <Template Context="Item">
                    <RadzenLink Path=@($"Ocupacion/{Item.OcupacionId}") Text="Ver" />
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Ocupacion" Filterable="true" Sortable="true"  Frozen="false" Title="Descripcion">
                <Template Context="Item">
                    <RadzenText>@Item.Descripcion</RadzenText>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Ocupacion" Filterable="true" Sortable="true"  Frozen="false" Title="Salario">
                <Template Context="Item">
                    <RadzenText>@Item.Salario</RadzenText>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

@code {
        [Parameter]
    public int OcupacionId { get; set; }

    public Ocupacion? ocupacion { get; set; } = new Ocupacion();
    public Ocupacion? ocupacionEncontrada { get; set; }


    protected override void OnInitialized()
    {
        if (OcupacionId > 0)
        {
            this.ocupacion.OcupacionId = OcupacionId;
            this.Buscar();
        }
    }

    public void Buscar()
    {

        var ocupacionEncontrada = Ocupations.Buscar(ocupacion.OcupacionId);
        if (ocupacionEncontrada != null)
        {
            this.ocupacion = ocupacionEncontrada;
        }
    }

        public void Eliminar()
    {
        if(!Ocupations.Existe(this.OcupacionId))
        {
            if(Ocupations.Eliminar(this.ocupacion))
            {
                this.ocupacion= new Ocupacion();
            }
            
        }
    }
}
