@page "/Ocupacion"
@page "/Ocupacion/{OcupacionId:int}"

@inject OcupacionesBLL Ocupations



<head>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    
    <style>
        .Entrada{
        display: inline-block;
        padding: 5px;
        align-items: center;
    }
    .Entrada input{
        border-radius: 50px;
        background-color:#D9D9D9;
        border-color: #D9D9D9;
        border: 15px;
        margin: 5px;
    }
    .Entrada label
    {
        margin: 5px;
    }
    </style>
</head>


<div class="Carta" style="display: block;">

    <div class="card-Header">
        <h3>Editar Ocupacion</h3>
    </div>
        <div class="Entrada">
        <label for="OcupacionID" >OcupacionID:</label>
        <input  class="form-control" @bind="@ocupacion.OcupacionId" aria-label="Recipient's username" aria-describedby="basic-addon2" id="OcupacionID" name="OcupacionID">
    </div>
        <div class="Entrada">
        <label for="Descripcion" >Descripcion:</label>
        <input  class="form-control" @bind="@ocupacion.Descripcion" aria-label="Recipient's username" aria-describedby="basic-addon2" id="Descripcion" name="Descripcion">
    </div>
        <div class="Entrada">
        <label for="Salario" >Salario:</label>
        <input class="form-control" @bind="@ocupacion.Salario" aria-label="Recipient's username" aria-describedby="basic-addon2" id="Salario" name="Salario">
    </div>
    <br>
    <div class="card-Footer">
        <button class="btn btn-primary" @onclick="Guardar"><i class="fi fi-ss-disk"></i> Guardar</button>
        <button class="btn btn-danger" @onclick="Eliminar"><i class="fi fi-ss-disk"></i> Eliminar</button>
    </div>
</div>








@code {
    [Parameter]
    public int OcupacionId { get; set; }
    public Ocupaciones? ocupacion { get; set; } = new Ocupaciones();
    public Ocupaciones? ocupacionEncontrada { get; set; }


    protected override void OnInitialized()
    {
        if (OcupacionId > 0)
        {
            this.ocupacion.OcupacionId = OcupacionId;
            this.Buscar();
        }
    }

    public void Buscar()
    {

        var ocupacionEncontrada = Ocupations.Buscar(ocupacion.OcupacionId);
        if (ocupacionEncontrada != null)
        {
            this.ocupacion = ocupacionEncontrada;
        }
    }

    public void Nuevo()
    {
        this.ocupacion = new Ocupaciones();
    }

    public void Guardar()
    {   if(OcupacionId!=null)

        if (Validar())
        {
            return;
        }
        if (Ocupations.Guardar(ocupacion))
        {
            Nuevo();
        }
    }
    public void Eliminar()
        {
            if(Ocupations.Eliminar(this.ocupacion))
            {
                this.ocupacion= new Ocupaciones();
            }
            
        }
    
    public bool Validar ()
    {

        return this.ocupacion.Descripcion==null;
    }
    
}


