@page "/"

<PageTitle>Inicio</PageTitle>

<div class="mt-4 p-5 text-white rounded" style="background-color:#0077B6;">
  <h1>BIENVENIDOS A PRESTAMOS DURAN SYSTEM</h1>
  <p>   un sistema de prestamos automatizados</p>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
