
header a{
    text-decoration: none;
}
header{
    background-color: #0077B6;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
    display: inline-block;
    left: 0px;
    
}
.TopBar
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Logo
{
    height: 60px;
    padding: 15px;
    font-weight: bold;
    
}

.OptionsList a {
    color:rgb(0, 0, 0) ;
    display: inline-block;
    padding: 10px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}
.Logo img{
    height:200px;
    position: absolute;
    left:40%;
}

.OptionsList a:hover{
    
    color: #00B4D8;

    
}
.OptionsList a:active
{
    color: #00B4D8;
}

.OptionsList{
    background-color:rgb(255, 255, 255);

}
.About{
    background-color:#CAF0F8;
}
.About h2,p{
    color: white;
    margin: 15px;
}

.Redes img{
    height: 40px;
}
.Redes img:hover{
    height: 60px;
}
.Redes a{
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.Redes{
    display: flex;
    width: auto;
    justify-content: right;
    align-items: top;
    height: 80px;
}

.page{
    width: 100%;
    height: 100%;
}
.Sidebar{
    width: 20%;
    background-color: #2A3F54;
    height: 100%;

}
.Master{
    display:flex;
    height: 100vh;
    width: 100vw;
}

